﻿@import "mixin.scss";
@import "variables.scss";
@import "_am2_grid.scss";

html, body {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
}

body {
    background: $color-bg;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

a {
    text-decoration: none;
}

.content {
    width: $grid_content;
    margin: 0 auto;

    @include breakpoint(tablet) {
        width: 100%;
        padding: 0 $gapNormal;
        box-sizing: border-box;
    }
}

#container {
    @include breakpoint(tablet) {
        width: 100%;
    }
}

.header {
    background: $color-primaryLigten;

    @include breakpoint(tablet) {
        display: none;
    }
}

.header_meta {
    background: $color-header-top;
    height: 40px;
    float: left;
    /*& input[type="text"] {
        background-color: $color-header-top-search;
        color: $color-base;
        border: none;
        padding: 7px;
        font-size: 16px;
        font-style: italic;
        float: left;
    }*/
    .content {
        height: 100%;
    }
}

.header_main {
    background-color: $color-base;
    height: 64px;
}

.main_menu {
    height: 64px;
    display: table;
    float: left;
    padding: 0;
    margin: 0;

    & > a {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
        list-style: none;
        text-transform: uppercase;
        color: $color-header-text;
        transition: $transition-buttonStandard;
        cursor: default;

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            color: $color-brand-orange;
            transition: $transition-buttonStandard;
        }
    }
}

.header__meta__item {
    position: relative;
    display: table;
    float: left;
    height: 100%;

    span {
        display: table-cell;
        vertical-align: middle;
        color: $color-header-top-text;
        font-size: $fontSize-h5;
    }

    &:nth-child(2) {
        span {
            padding: 0 $gapExtraSmall 0 $gapNormal;
        }
    }

    &:nth-child(3) {
        span {
            padding: 0 $gapSmall 0 $gapDouble;
        }
    }



    input[type="text"] {
        float: left;
        width: 245px;
        height: 28px;
        margin: 6px auto;
        background-color: #767b81;
        color: white;
        border: none;
        padding: 7px;
        box-sizing: border-box;
        font-size: 14px;
        font-style: italic;
        background-image: url('https://pixabay.com/static/uploads/photo/2014/04/03/00/31/magnifying-glass-308581_960_720.png');
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: 220px;
    }
}

.cart__icon {
    position: relative;
    float: left;
    width: 35px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    background-image: url(../assets/cart.png);
    background-repeat: no-repeat;
    background-size: 76%;
    background-position: center;

    .cart__counter {
        position: absolute;
        top: 4px;
        right: 0;
        font-size: $fontSize-h6;
        color: $color-base;
        background: $color-brand-orange;
        padding: 0 4px;
        box-sizing: border-box;
    }
}

// Header Mobile
.header__mobile {
    @extend .header;
    position: relative;
    width: 100%;
    height: 80px;
    background: $color-base;
    display: none;

    .hamburger {
        float: left;
        width: 30px;
        height: 30px;
        margin: 25px;
        background-image: url('../assets/hamburger.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }

    .logo {
        @include center-absolute(true, true);
    }

    .cart__icon {
        float: right;
        margin: $gapNormal 0 $gapNormal $gapNormal;
    }

    .mobile-search {
        width: 30px;
        height: 30px;
        float: right;
        margin: 25px $gapSmall;
        background-image: url('../assets/searchDark.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    @include breakpoint(tablet) {
        display: block;
    }
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    float: left;
    background-color: $color-footer-bg;
    z-index: 2;

    a {
        color: $color-base;
        width: 100%;
        float: left;
        padding: $gapNormal;
    }
}

// Buttons
.button {
    float: left;
    font-family: $font-Lato;
    color: $color-base;
    text-transform: uppercase;
    font-size: $fontSize-button;
}

.button--plain {
    width: 170px;
    padding: $gapNormal 0;
    text-align: center;
    border: 1px solid $color-base;
    font-family: $font-primary;
    font-weight: bold;
    transition: $transition-buttonStandard;

    &:hover {
        background: $color-base;
        color: $color-primary;
        transition: $transition-buttonStandard;
    }
}

.button-header {
    @extend .button;
    float: left;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    transition: $transition-buttonStandard;

    &:hover {
        background: $color-primary;
        color: $color-base;
        transition: $transition-buttonStandard;
    }
}

.button-header--orange {
    @extend .button-header;
    background: $color-brand-orange;
}

.button-header--blue {
    @extend .button-header;
    background: $color-brand-blue;
}

.homepage__box {
    height: 700px;
    float: left;

    @include breakpoint(tablet) {
        height: 370px;
        margin-bottom: 60px;
    }
}

.homepage__image {
    background-image: url('../assets/constr.jpg'), url('../assets/map.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top, bottom;

    @include breakpoint(tablet) {
        background-size: 320%, 200%;
    }
}

.search {
    width: 1120px;
    padding: $gapDouble + $gapNormal;
    box-sizing: border-box;
    background-image: url('../assets/bgLinesL_larger.png'), url('../assets/bgLinesR_larger.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    @include center-absolute(true, true);

    input[type="text"] {
        float: left;
    }

    .button {
        color: $color-base;
        background-color: $color-brand-orange;
        padding: 10px 30px;
        border: none;
    }

    @include breakpoint(tablet) {
        width: 100%;
        padding: 0;
        background: none;
    }
}

.search__caption {
    font-family: $font-Lato;
    font-size: $fontSize-h1;
    font-weight: bold;
    color: $color-base;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $gapLarger;
    /*text-shadow: $shadow-caption;*/
    span {
        color: $color-brand-orange;
    }

    @include breakpoint(tablet) {
        font-size: 40px;
        padding: 100px 50px 20px 50px;
        background-image: url('../assets/bgLineSingle.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }
}

.search__form {
    width: 750px;
    height: 60px;
    margin: 0 auto;
    box-shadow: $shadow-caption;

    * {
        box-sizing: border-box;
        border: none !important;
    }

    input[type="text"] {
        float: left;
        width: 75%;
        height: 100%;
        border: none;
        font-size: $fontSize-h4;
        color: $color-header-top-text;
        padding: 0 $gapNormal;
    }

    input[type="submit"] {
        float: left;
        width: 25%;
        height: 100%;
    }

    @include breakpoint(tablet) {
        width: 100%;
        padding: 0 $gapNormal;
        height: 60px;
        margin: 0 auto;
        box-shadow: none;
        box-sizing: border-box;

        input[type="text"] {
            width: 85%;
        }

        input[type="submit"] {
            width: 15%;
            padding: 0;
            background-image: url(../assets/search.png);
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

// Slider
.slider__item {
    width: 99%;
    margin-right: 11.628% !important;
    animation: programHoverReset 0.5s forwards;

    &:focus {
        outline: none !important;
    }


    &:last-child {
        margin-right: 0 !important;
    }

    &:hover {
        animation: programHover 0.5s forwards;
    }

    @include breakpoint(tablet) {
        width: 100% !important;
        animation: none !important;

        &:hover {
            animation: none !important;
        }
    }
}




// Programs
.programs {
    float: left;
    width: 100%;
    margin-bottom: $gapDouble;
}

.program__item {
    float: left;
    height: 350px;
    animation: programHoverReset 0.3s forwards;
    background-image: url(../assets/tool_1.png) !important;
    background-size: 100% !important;

    &:hover {
        animation: programHover 0.5s forwards;
        box-shadow: $shadow-box;


        > .program__readmore {
            animation: slowOpacity 0.5s forwards;
        }
    }

    @include breakpoint(tablet) {
        width: 100%;
        height: 120px;
        animation: none !important;
        margin-bottom: $gapNormal;

        &:hover {
            animation: none !important;
        }

        .program__readmore {
            display: none;
        }

        img {
            @include center-absolute(false, true);
            left: $gapNormal;
            height: 80px;
        }
    }
}

@keyframes slowOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes programHover {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -20px;
    }
}

@keyframes programHoverReset {
    0% {
        margin-top: -20px;
    }

    100% {
        margin-top: 0;
    }
}

.program__item--blue {
    @extend .program__item;
    background: $color-brand-blue-light;
}

.program__item--orange {
    @extend .program__item;
    background: $color-brand-orange;
}

.program__item--green {
    @extend .program__item;
    background: $color-brand-green;
}

.program__title {
    font-family: $font-Lato;
    font-size: 24px;
    padding: $gapSmall $gapDouble;
    box-sizing: border-box;

    @include breakpoint(tablet) {
        width: 100%;
        @include center-absolute(true, true);
        text-align: left;
        font-size: 22px;
        padding-left: 130px;
        padding-right: 20px;
    }
}

.program__title--blue {
    @extend .program__title;
    color: $color-brand-blue-darken;
}

.program__title--orange {
    @extend .program__title;
    color: $color-brand-orange-darken;
}

.program__title--green {
    @extend .program__title;
    color: $color-brand-green-darken;
}

.program__readmore {
    @include center-absolute(true, false);
    width: 100%;
    height: 40px;
    bottom: 0;
    color: $color-base;
    font-family: $font-Lato;
    font-size: $fontSize-h4;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;

    a {
        color: $color-base;
    }
}
// Featured Course
.featured-course {
    width: 100%;
    float: left;

    &:hover {
        box-shadow: $shadow-box;
    }
}

.featured-course__caption {
    width: auto;
    float: left;
    padding: 10px 20px;
    ;
    color: $color-base;
    text-transform: uppercase;
    background: $color-brand-orange;
    box-sizing: border-box;
}

.featured-course__thumbnail {
    width: 100%;
    height: 250px;
    float: left;
    background-size: cover;
}

.featured-course__content {
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background: $color-base;
    border-bottom: 1px solid $color-header-top-text;

    .course__title {
        width: 100%;
        font-family: $font-Lato;
        font-size: 30px;
        color: $color-primaryLigten;
        float: left;
    }

    .course__category {
        position: relative;
        display: table;
        width: 100%;
        height: 16px;
        float: left;

        .category__icon {
            position: relative;
            float: left;
            width: 24px;
            height: 24px;

            span {
                @include center-absolute(true,true);
                color: $color-base;
                font-size: $fontSize-excerpt;
                padding: 0;
                margin: 0;
            }
        }

        .category__icon--blue {
            @extend .category__icon;
            background: $color-brand-blue;
        }

        .category__icon--orange {
            @extend .category__icon;
            background: $color-brand-orange;
        }

        span {
            float: left;
            display: table-cell;
            vertical-align: middle;
            padding-left: 12px;
        }
    }

    p {
        color: $color-header-top-text;
        font-size: $fontSize-excerpt;
        letter-spacing: 0.7px;
        line-height: 22px;
    }
}

.featured-course__readmore {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: $font-primary;
    font-weight: bold;
    color: $color-brand-orange;
    background: $color-base;
    font-size: 20px;
    text-transform: uppercase;
    transition: $transition-buttonStandard;

    &:hover {
        color: $color-primary;
        transition: $transition-buttonStandard;
    }
}

.featured-course--wide {
    @extend .featured-course;

    .col-12:first-child {
        width: 51.907%;
        margin-right: 0;
    }

    .u-absolute-modifier {
        right: 0;
    }

    .featured-course__thumbnail {
        height: 100%;
    }

    @include breakpoint(tablet) {
        display: none;
    }
}
// Promo box
.promo-box {
    background-size: cover !important;
    /*padding: $gapLarger;*/
    box-sizing: border-box;
    margin-bottom: $gapDouble;
    min-height: 350px;

    p {
        color: $color-base;
        font-size: $fontSize-excerpt;
        letter-spacing: 0.7px;
        line-height: 22px;
    }

    .button--plain {
        left: $gapDouble;
        bottom: $gapDouble;
    }

    @include breakpoint(tablet) {

        .button--plain {
            position: relative !important;
            width: 100%;
            float: left;
            left: 0;
            bottom: 0;
        }

        p {
            font-size: $fontSize-h5;
            line-height: 18px;
        }
    }
}

.promo-box__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $gapDouble;
    box-sizing: border-box;
    background-image: url(../assets/bgLines.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top left;

    a {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    @include breakpoint(tablet) {
        position: relative;
        float: left;
        background-size: 75%;
    }
}

.promo-box__title {
    font-family: $font-Lato;
    font-size: 40px;
    line-height: 37px;
    color: $color-base;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-size: $fontSize-h2;
    }
}
// Sidebar
#sidebar {
    margin: 0;
    background-image: url(../assets/event.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $color-base;
    padding-top: 117px;

    @include breakpoint(tablet) {
        width: 100%;
        display: none;
    }
}

.sidebar__item {
    @extend .featured-course;
    margin-bottom: $gapDouble;
    float: left;

    &:hover {
        box-shadow: none;
    }
}

.sidebar__item__content {
    @extend .featured-course__content;
    padding: 0;
    margin: 0 22px;
    background: none !important;
    border-bottom: none;
}

.sidebar__item__thumbnail {
    float: left;
    width: 100%;
    height: 220px;
    background-size: cover;
    margin-bottom: $gapNormal;
}

.sidebar__item__meta {
    float: left;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: $gapNormal;
}

.sidebar__item__title {
    float: left;
    width: 100%;
    font-family: $font-Lato;
    font-size: $fontSize-h3;
    margin-bottom: $gapNormal;
}

.sidebar__readmore {
    @extend .featured-course__readmore;
    border-top: 1px solid $color-header-top-text;
}
// Footer
.footer__top {
    width: 100%;
    float: left;
    background: $color-base;
    padding: $gapDouble 0;
    text-align: center;

    img {
        height: 60px;
        padding: 10px;
    }

    @include breakpoint(tablet) {
        img {
            height: 30px;
        }
    }
}

.footer__main {
    width: 100%;
    float: left;
    background: $color-footer-bg;
    font-size: $fontSize-h5;
    padding-top: $gapDouble;
    border-top: 4px solid $color-primary;

    ul {
        padding-left: 0;
    }

    li, a {
        color: $color-footer-text;
        list-style: none;
        line-height: 22px;
        transition: $transition-buttonStandard;

        &:hover {
            color: $color-brand-orange;
            transition: $transition-buttonStandard;
        }
    }

    .title {
        color: $color-header-top-text;
        text-transform: uppercase;
    }

    @include breakpoint(tablet) {
        display: none;
    }
}

.footer__mobile {
    @extend .footer__main;
    padding-top: 0;
    display: none;

    .accordion {
        width: 90%;
        padding: $gapNormal 0 $gapDouble 0;
        margin: 0 auto;
        box-sizing: border-box;
        border-bottom: 1px solid $color-header-top-text;

        dt {
            .icon {
                width: 30px;
                height: 30px;
                float: left;
                margin-right: $gapSmall;
                background-image: url("..//assets/plus.png");
                background-size: 65%;
                background-position: center;
                background-repeat: no-repeat;
            }

            a {
                line-height: 30px;
                text-transform: uppercase;
                color: $color-base;
                font-weight: bold;
                font-size: $fontSize-h5;
            }
        }

        dd {
            padding-bottom: $gapNormal;

            a {
                line-height: 30px;
                width: 100%;
                float: left;
            }
        }
    }

    .footer__bottom {
        width: 90%;
        margin: 0 auto;
        padding: $gapNormal 0 $gapDouble 0;
        border-top: none;
        font-size: $fontSize-h5 !important;

        a {
            line-height: 30px;
        }
    }

    @include breakpoint(tablet) {
        display: block;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes spinReset {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.footer__bottom {
    margin-top: $gapNormal;
    padding: $gapSmall 0 $gapNormal 0;
    border-top: 1px solid $color-footer-text;
    font-size: $fontSize-h6;
    color: $color-footer-text;
}

.footer__logo {
    display: block;
    width: 120px;
    margin: 0 auto;

    @include breakpoint(tablet) {
        display: none;
    }
}
// Utilities
.u-height-100 {
    height: 100%;
}

.u-padding-none {
    padding: 0 !important;
}

.u-padding-bottom-20 {
    padding-bottom: 20px !important;
}

.u-padding-bottom-enormous {
    padding-bottom: $gapEnormous;

    @include breakpoint(tablet) {
        padding-bottom: 150px;
    }
}

.u-margin-none {
    margin: 0 !important;
}

.u-margin-bottom-double {
    margin-bottom: $gapDouble;
}

.u-text-orange {
    color: $color-brand-orange !important;
}

.u-text-blue {
    color: $color-brand-blue !important;
}

.u-background-base {
    background: $color-base;
}

.u-absolute-modifier {
    position: absolute;
    height: 100%;
}

.u-position-modifier {
    float: left;
}

.u-text-left {
    text-align: left !important;
}

.u-text-right {
    text-align: right !important;
}

.u-center-absolute {
    @include center-absolute(true, true);
    width: 100%;
    height: 70%;
    text-align: center;
}

.u-no-shadow {
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}


// AUTOCOMPLETE
/* min Jquery CSS elements for autocomplete */
.ui-autocomplete {
    position: absolute;
    cursor: default;
}

.ui-menu {
    list-style: none;
    padding: $gapNormal;
    display: block;
    float: left;
    background-color: $color-base;
    box-sizing: border-box;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    font-family: arial;
    color: grey;
    font-size: 18px;
    padding: 5px 0;
    box-sizing: border-box;

    &:hover {
        color: $color-primary;
    }
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .1em .3em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
    font-weight: bold;
}
