﻿/*** variables  ***/
/**
*
* Grid 
*
**/
$grid_content: 1180px;
$grid_content_narrow: 890px;
$grid_content_wider: 1210px;
$grid_margin: 45px;
$grid_padding: 15px;
$grid_spacer: 45px;
$grid_prefix: "col-";
$grid_uses_bem: false;


// Colors
$color-brand-orange: #fa961a;
$color-brand-orange-darken: darken($color-brand-orange, 13%);
$color-brand-blue: #436c9a;
$color-brand-blue-light: #296bb5;
$color-brand-blue-darken: darken($color-brand-blue, 13%);
$color-brand-green: #40a348;
$color-brand-green-light: #5db24d;
$color-brand-green-darken: darken($color-brand-green, 13%);
$color-header-top: #39404a;
$color-header-top-search: #767b81;
$color-header-top-text: #bcbdbf;
$color-header-text: #313131;
$color-footer-bg: #39404a;
$color-footer-text: #8f9399;
$color-footer-heading: #d0d0ce;
$color-bg: #e9e9e9;

$color-base: white;
$color-primary: black;
$color-primaryLigten: lighten($color-primary, 10%);

// Fonts
$font-primary: 'Open Sans', sans-serif;
$font-Lato: 'Lato', sans-serif;

$fontSize-button: 16px;
$fontSize-excerpt: 16px;
$fontSize-h1: 59px;
$fontSize-h2: 30px;
$fontSize-h3: 20px;
$fontSize-h4: 16px;
$fontSize-h5: 14px;
$fontSize-h6: 12px;



$shadow-caption: 0 0 20px black;
$shadow-box: 0 2px 30px -10px black;

$gapExtraSmall: 5px;
$gapSmall: 10px;
$gapNormal: 20px;
$gapLarger: 30px;
$gapDouble: 40px;
$gapEnormous: 400px;


$transition-buttonStandard: .3s all ease;