﻿@import "variables.scss";


// Breakpoints

@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 70em) {
            @content;
        }
    }
    @else if $point == laptop {
        @media (min-width: 64em) {
            @content;
        }
    }
    @else if $point == tablet {
        @media (max-width: 50em) {
            @content;
        }
    }
    @else if $point == phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    }
    @else if $point == mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}

// Columns
@mixin row () {
    font-size: 0;
}

@mixin col ($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    @media only screen and (min-width: 768px) {
        width: percentage($col/$sum);
        vertical-align: $align;
    }
}

// Transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

// Desc: mixin for centering vertical & horizonal an element
@mixin center-absolute($horizontal: true, $vertical: true, $position: absolute, $x: -50%, $y: -50%) {
    position: $position;

    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        @include transform(translate($x, $y));
    }
    @else if ($horizontal) {
        left: 50%;
        @include transform(translate($x,0));
    }
    @else if ($vertical) {
        top: 50%;
        @include transform(translate(0,$y));
    }
}

@mixin set-as-table {
    width: 100%;
    display: table;
}

@mixin set-as-table-cell {
    display: table-cell;
    padding: 0;
    float: none;
    vertical-align: middle;
}