/*** variables  ***/
/**
*
* Grid 
*
**/
.container {
  width: 100%;
  padding: 0px 1.2%;
}

.col-1 {
  width: 100%;
}

.col-12 {
  width: 48.093%;
  margin-right: 3.814%;
}

.col-14 {
  width: 22.139%;
  margin-right: 3.814%;
}

.col-13 {
  width: 30.79%;
  margin-right: 3.814%;
}

.col-23 {
  width: 65.396%;
  margin-right: 3.814%;
}

.col-15 {
  width: 16.948%;
  margin-right: 3.814%;
}

.col-16 {
  width: 13.488%;
  margin-right: 3.814%;
}

.col-45 {
  width: 79.238%;
  margin-right: 3.814%;
}

.col-25 {
  width: 37.71%;
  margin-right: 3.814%;
}

.col-35 {
  width: 58.472%;
  margin-right: 3.814%;
}

.col-34 {
  width: 74.047%;
  margin-right: 3.814%;
}

/* we should check this code */
/*.col-12 .col-12{ width: $final_12_12 + unquote("%"); margin-right: $margin_12 + unquote("%"); }
.col-12 .col-13{ width: $final_12_13 + unquote("%"); margin-right: $margin_12 + unquote("%"); }
.col-14 .col-12{ width: $final_14_12 + unquote("%"); margin-right: $margin_14 + unquote("%"); }
.col-34 .col-12{ width: $final_34_12 + unquote("%"); margin-right: $margin_34 + unquote("%"); } */
.col-12:nth-of-type(2n) {
  margin-right: 0px;
}

.col-14:nth-of-type(4n) {
  margin-right: 0px;
}

.col-13:nth-of-type(3n) {
  margin-right: 0px;
}

.col-15:nth-of-type(5n) {
  margin-right: 0px;
}

.col-16:nth-of-type(6n) {
  margin-right: 0px;
}

.col-12 .col-12:nth-of-type(2n) {
  margin-right: 0px;
}

.col-12 .col-13:nth-of-type(3n) {
  margin-right: 0px;
}

.col-14 .col-12:nth-of-type(2n) {
  margin-right: 0px;
}

.col-34 .col-12:nth-of-type(2n) {
  margin-right: 0px;
}

.col-1,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-34,
.col-23,
.col-45,
.col-25,
.col-35 {
  position: relative;
  float: left;
}

/* we should check this code
Should help us writing BEM variations

examples:

class="col-12"

-- with BEM standard
class="am2__article am2__article--col-12"

-- without BEM standard
class="am2__article col-12"

[class*="col-1"]{ width: 100%; }
[class*="col-12"]{ width: $final_12 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-14"]{ width: $final_14 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-13"]{ width: $final_13 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-23"]{ width: $final_23 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-15"]{ width: $final_15 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-16"]{ width: $final_16 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-45"]{ width: $final_45 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-25"]{ width: $final_25 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-35"]{ width: $final_35 + unquote("%"); margin-right: $margin + unquote("%"); }
[class*="col-34"]{ width: $final_34 + unquote("%"); margin-right: $margin + unquote("%"); }


[class*="col-12"]:nth-of-type(2n){ margin-right: 0px; }
[class*="col-14"]:nth-of-type(4n){ margin-right: 0px; }
[class*="col-13"]:nth-of-type(3n){ margin-right: 0px; }
[class*="col-15"]:nth-of-type(5n){ margin-right: 0px; }
[class*="col-16"]:nth-of-type(6n){ margin-right: 0px; }
[class*="col-12"] [class*="col-12"]:nth-of-type(2n){ margin-right: 0px; }
[class*="col-12"] [class*="col-13"]:nth-of-type(3n){ margin-right: 0px; }
[class*="col-14"] [class*="col-12"]:nth-of-type(2n){ margin-right: 0px; }
[class*="col-34"] [class*="col-12"]:nth-of-type(2n) { margin-right: 0px; }
.spacer{ height: $grid_spacer; width: 100%; position: relative; }
[class*="col-1"], [class*="col-12"], [class*="col-13"], [class*="col-14"], [class*="col-15"], [class*="col-16"], [class*="col-34"], [class*="col-23"], [class*="col-45"], [class*="col-25"], [class*="col-35"] { position: relative; float: left; }
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: '';}
.clearfix:after {clear: both;}

*/
html, body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #e9e9e9;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

a {
  text-decoration: none;
}

.content {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 50em) {
  .content {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 50em) {
  #container {
    width: 100%;
  }
}

.header, .header__mobile {
  background: #1a1a1a;
}
@media (max-width: 50em) {
  .header, .header__mobile {
    display: none;
  }
}

.header_meta {
  background: #39404a;
  height: 40px;
  float: left;
  /*& input[type="text"] {
      background-color: $color-header-top-search;
      color: $color-base;
      border: none;
      padding: 7px;
      font-size: 16px;
      font-style: italic;
      float: left;
  }*/
}
.header_meta .content {
  height: 100%;
}

.header_main {
  background-color: white;
  height: 64px;
}

.main_menu {
  height: 64px;
  display: table;
  float: left;
  padding: 0;
  margin: 0;
}
.main_menu > a {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  list-style: none;
  text-transform: uppercase;
  color: #313131;
  transition: 0.3s all ease;
  cursor: default;
}
.main_menu > a:last-child {
  padding-right: 0;
}
.main_menu > a:hover {
  color: #fa961a;
  transition: 0.3s all ease;
}

.header__meta__item {
  position: relative;
  display: table;
  float: left;
  height: 100%;
}
.header__meta__item span {
  display: table-cell;
  vertical-align: middle;
  color: #bcbdbf;
  font-size: 14px;
}
.header__meta__item:nth-child(2) span {
  padding: 0 5px 0 20px;
}
.header__meta__item:nth-child(3) span {
  padding: 0 10px 0 40px;
}
.header__meta__item input[type="text"] {
  float: left;
  width: 245px;
  height: 28px;
  margin: 6px auto;
  background-color: #767b81;
  color: white;
  border: none;
  padding: 7px;
  box-sizing: border-box;
  font-size: 14px;
  font-style: italic;
  background-image: url("https://pixabay.com/static/uploads/photo/2014/04/03/00/31/magnifying-glass-308581_960_720.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 220px;
}

.cart__icon {
  position: relative;
  float: left;
  width: 35px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  background-image: url(../assets/cart.png);
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: center;
}
.cart__icon .cart__counter {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 12px;
  color: white;
  background: #fa961a;
  padding: 0 4px;
  box-sizing: border-box;
}

.header__mobile {
  position: relative;
  width: 100%;
  height: 80px;
  background: white;
  display: none;
}
.header__mobile .hamburger {
  float: left;
  width: 30px;
  height: 30px;
  margin: 25px;
  background-image: url("../assets/hamburger.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.header__mobile .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__mobile .cart__icon {
  float: right;
  margin: 20px 0 20px 20px;
}
.header__mobile .mobile-search {
  width: 30px;
  height: 30px;
  float: right;
  margin: 25px 10px;
  background-image: url("../assets/searchDark.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
@media (max-width: 50em) {
  .header__mobile {
    display: block;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  float: left;
  background-color: #39404a;
  z-index: 2;
}
.mobile-menu a {
  color: white;
  width: 100%;
  float: left;
  padding: 20px;
}

.button, .button-header, .button-header--orange, .button-header--blue {
  float: left;
  font-family: "Lato", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.button--plain {
  width: 170px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: 0.3s all ease;
}
.button--plain:hover {
  background: white;
  color: black;
  transition: 0.3s all ease;
}

.button-header, .button-header--orange, .button-header--blue {
  float: left;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.3s all ease;
}
.button-header:hover, .button-header--orange:hover, .button-header--blue:hover {
  background: black;
  color: white;
  transition: 0.3s all ease;
}

.button-header--orange {
  background: #fa961a;
}

.button-header--blue {
  background: #436c9a;
}

.homepage__box {
  height: 700px;
  float: left;
}
@media (max-width: 50em) {
  .homepage__box {
    height: 370px;
    margin-bottom: 60px;
  }
}

.homepage__image {
  background-image: url("../assets/constr.jpg"), url("../assets/map.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top, bottom;
}
@media (max-width: 50em) {
  .homepage__image {
    background-size: 320%, 200%;
  }
}

.search {
  width: 1120px;
  padding: 60px;
  box-sizing: border-box;
  background-image: url("../assets/bgLinesL_larger.png"), url("../assets/bgLinesR_larger.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search input[type="text"] {
  float: left;
}
.search .button, .search .button-header, .search .button-header--orange, .search .button-header--blue {
  color: white;
  background-color: #fa961a;
  padding: 10px 30px;
  border: none;
}
@media (max-width: 50em) {
  .search {
    width: 100%;
    padding: 0;
    background: none;
  }
}

.search__caption {
  font-family: "Lato", sans-serif;
  font-size: 59px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  /*text-shadow: $shadow-caption;*/
}
.search__caption span {
  color: #fa961a;
}
@media (max-width: 50em) {
  .search__caption {
    font-size: 40px;
    padding: 100px 50px 20px 50px;
    background-image: url("../assets/bgLineSingle.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.search__form {
  width: 750px;
  height: 60px;
  margin: 0 auto;
  box-shadow: 0 0 20px black;
}
.search__form * {
  box-sizing: border-box;
  border: none !important;
}
.search__form input[type="text"] {
  float: left;
  width: 75%;
  height: 100%;
  border: none;
  font-size: 16px;
  color: #bcbdbf;
  padding: 0 20px;
}
.search__form input[type="submit"] {
  float: left;
  width: 25%;
  height: 100%;
}
@media (max-width: 50em) {
  .search__form {
    width: 100%;
    padding: 0 20px;
    height: 60px;
    margin: 0 auto;
    box-shadow: none;
    box-sizing: border-box;
  }
  .search__form input[type="text"] {
    width: 85%;
  }
  .search__form input[type="submit"] {
    width: 15%;
    padding: 0;
    background-image: url(../assets/search.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider__item {
  width: 99%;
  margin-right: 11.628% !important;
  animation: programHoverReset 0.5s forwards;
}
.slider__item:focus {
  outline: none !important;
}
.slider__item:last-child {
  margin-right: 0 !important;
}
.slider__item:hover {
  animation: programHover 0.5s forwards;
}
@media (max-width: 50em) {
  .slider__item {
    width: 100% !important;
    animation: none !important;
  }
  .slider__item:hover {
    animation: none !important;
  }
}

.programs {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

.program__item, .program__item--blue, .program__item--orange, .program__item--green {
  float: left;
  height: 350px;
  animation: programHoverReset 0.3s forwards;
  background-image: url(../assets/tool_1.png) !important;
  background-size: 100% !important;
}
.program__item:hover, .program__item--blue:hover, .program__item--orange:hover, .program__item--green:hover {
  animation: programHover 0.5s forwards;
  box-shadow: 0 2px 30px -10px black;
}
.program__item:hover > .program__readmore, .program__item--blue:hover > .program__readmore, .program__item--orange:hover > .program__readmore, .program__item--green:hover > .program__readmore {
  animation: slowOpacity 0.5s forwards;
}
@media (max-width: 50em) {
  .program__item, .program__item--blue, .program__item--orange, .program__item--green {
    width: 100%;
    height: 120px;
    animation: none !important;
    margin-bottom: 20px;
  }
  .program__item:hover, .program__item--blue:hover, .program__item--orange:hover, .program__item--green:hover {
    animation: none !important;
  }
  .program__item .program__readmore, .program__item--blue .program__readmore, .program__item--orange .program__readmore, .program__item--green .program__readmore {
    display: none;
  }
  .program__item img, .program__item--blue img, .program__item--orange img, .program__item--green img {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 20px;
    height: 80px;
  }
}

@keyframes slowOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes programHover {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -20px;
  }
}
@keyframes programHoverReset {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}
.program__item--blue {
  background: #296bb5;
}

.program__item--orange {
  background: #fa961a;
}

.program__item--green {
  background: #40a348;
}

.program__title, .program__title--blue, .program__title--orange, .program__title--green {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  padding: 10px 40px;
  box-sizing: border-box;
}
@media (max-width: 50em) {
  .program__title, .program__title--blue, .program__title--orange, .program__title--green {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    font-size: 22px;
    padding-left: 130px;
    padding-right: 20px;
  }
}

.program__title--blue {
  color: #2f4c6c;
}

.program__title--orange {
  color: #cd7404;
}

.program__title--green {
  color: #2d7333;
}

.program__readmore {
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  height: 40px;
  bottom: 0;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
}
.program__readmore a {
  color: white;
}

.featured-course, .featured-course--wide, .sidebar__item {
  width: 100%;
  float: left;
}
.featured-course:hover, .featured-course--wide:hover, .sidebar__item:hover {
  box-shadow: 0 2px 30px -10px black;
}

.featured-course__caption {
  width: auto;
  float: left;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  background: #fa961a;
  box-sizing: border-box;
}

.featured-course__thumbnail {
  width: 100%;
  height: 250px;
  float: left;
  background-size: cover;
}

.featured-course__content, .sidebar__item__content {
  float: left;
  padding: 20px;
  box-sizing: border-box;
  background: white;
  border-bottom: 1px solid #bcbdbf;
}
.featured-course__content .course__title, .sidebar__item__content .course__title {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: #1a1a1a;
  float: left;
}
.featured-course__content .course__category, .sidebar__item__content .course__category {
  position: relative;
  display: table;
  width: 100%;
  height: 16px;
  float: left;
}
.featured-course__content .course__category .category__icon, .sidebar__item__content .course__category .category__icon, .featured-course__content .course__category .category__icon--blue, .sidebar__item__content .course__category .category__icon--blue, .featured-course__content .course__category .category__icon--orange, .sidebar__item__content .course__category .category__icon--orange {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
}
.featured-course__content .course__category .category__icon span, .sidebar__item__content .course__category .category__icon span, .featured-course__content .course__category .category__icon--blue span, .sidebar__item__content .course__category .category__icon--blue span, .featured-course__content .course__category .category__icon--orange span, .sidebar__item__content .course__category .category__icon--orange span {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.featured-course__content .course__category .category__icon--blue, .sidebar__item__content .course__category .category__icon--blue {
  background: #436c9a;
}
.featured-course__content .course__category .category__icon--orange, .sidebar__item__content .course__category .category__icon--orange {
  background: #fa961a;
}
.featured-course__content .course__category span, .sidebar__item__content .course__category span {
  float: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 12px;
}
.featured-course__content p, .sidebar__item__content p {
  color: #bcbdbf;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 22px;
}

.featured-course__readmore, .sidebar__readmore {
  float: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fa961a;
  background: white;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.featured-course__readmore:hover, .sidebar__readmore:hover {
  color: black;
  transition: 0.3s all ease;
}

.featured-course--wide .col-12:first-child {
  width: 51.907%;
  margin-right: 0;
}
.featured-course--wide .u-absolute-modifier {
  right: 0;
}
.featured-course--wide .featured-course__thumbnail {
  height: 100%;
}
@media (max-width: 50em) {
  .featured-course--wide {
    display: none;
  }
}

.promo-box {
  background-size: cover !important;
  /*padding: $gapLarger;*/
  box-sizing: border-box;
  margin-bottom: 40px;
  min-height: 350px;
}
.promo-box p {
  color: white;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 22px;
}
.promo-box .button--plain {
  left: 40px;
  bottom: 40px;
}
@media (max-width: 50em) {
  .promo-box .button--plain {
    position: relative !important;
    width: 100%;
    float: left;
    left: 0;
    bottom: 0;
  }
  .promo-box p {
    font-size: 14px;
    line-height: 18px;
  }
}

.promo-box__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-image: url(../assets/bgLines.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: top left;
}
.promo-box__content a {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 50em) {
  .promo-box__content {
    position: relative;
    float: left;
    background-size: 75%;
  }
}

.promo-box__title {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  line-height: 37px;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 50em) {
  .promo-box__title {
    font-size: 30px;
  }
}

#sidebar {
  margin: 0;
  background-image: url(../assets/event.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 117px;
}
@media (max-width: 50em) {
  #sidebar {
    width: 100%;
    display: none;
  }
}

.sidebar__item {
  margin-bottom: 40px;
  float: left;
}
.sidebar__item:hover {
  box-shadow: none;
}

.sidebar__item__content {
  padding: 0;
  margin: 0 22px;
  background: none !important;
  border-bottom: none;
}

.sidebar__item__thumbnail {
  float: left;
  width: 100%;
  height: 220px;
  background-size: cover;
  margin-bottom: 20px;
}

.sidebar__item__meta {
  float: left;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sidebar__item__title {
  float: left;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar__readmore {
  border-top: 1px solid #bcbdbf;
}

.footer__top {
  width: 100%;
  float: left;
  background: white;
  padding: 40px 0;
  text-align: center;
}
.footer__top img {
  height: 60px;
  padding: 10px;
}
@media (max-width: 50em) {
  .footer__top img {
    height: 30px;
  }
}

.footer__main, .footer__mobile {
  width: 100%;
  float: left;
  background: #39404a;
  font-size: 14px;
  padding-top: 40px;
  border-top: 4px solid black;
}
.footer__main ul, .footer__mobile ul {
  padding-left: 0;
}
.footer__main li, .footer__mobile li, .footer__main a, .footer__mobile a {
  color: #8f9399;
  list-style: none;
  line-height: 22px;
  transition: 0.3s all ease;
}
.footer__main li:hover, .footer__mobile li:hover, .footer__main a:hover, .footer__mobile a:hover {
  color: #fa961a;
  transition: 0.3s all ease;
}
.footer__main .title, .footer__mobile .title {
  color: #bcbdbf;
  text-transform: uppercase;
}
@media (max-width: 50em) {
  .footer__main, .footer__mobile {
    display: none;
  }
}

.footer__mobile {
  padding-top: 0;
  display: none;
}
.footer__mobile .accordion {
  width: 90%;
  padding: 20px 0 40px 0;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbdbf;
}
.footer__mobile .accordion dt .icon {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
  background-image: url("..//assets/plus.png");
  background-size: 65%;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__mobile .accordion dt a {
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.footer__mobile .accordion dd {
  padding-bottom: 20px;
}
.footer__mobile .accordion dd a {
  line-height: 30px;
  width: 100%;
  float: left;
}
.footer__mobile .footer__bottom {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 40px 0;
  border-top: none;
  font-size: 14px !important;
}
.footer__mobile .footer__bottom a {
  line-height: 30px;
}
@media (max-width: 50em) {
  .footer__mobile {
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes spinReset {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.footer__bottom {
  margin-top: 20px;
  padding: 10px 0 20px 0;
  border-top: 1px solid #8f9399;
  font-size: 12px;
  color: #8f9399;
}

.footer__logo {
  display: block;
  width: 120px;
  margin: 0 auto;
}
@media (max-width: 50em) {
  .footer__logo {
    display: none;
  }
}

.u-height-100 {
  height: 100%;
}

.u-padding-none {
  padding: 0 !important;
}

.u-padding-bottom-20 {
  padding-bottom: 20px !important;
}

.u-padding-bottom-enormous {
  padding-bottom: 400px;
}
@media (max-width: 50em) {
  .u-padding-bottom-enormous {
    padding-bottom: 150px;
  }
}

.u-margin-none {
  margin: 0 !important;
}

.u-margin-bottom-double {
  margin-bottom: 40px;
}

.u-text-orange {
  color: #fa961a !important;
}

.u-text-blue {
  color: #436c9a !important;
}

.u-background-base {
  background: white;
}

.u-absolute-modifier {
  position: absolute;
  height: 100%;
}

.u-position-modifier {
  float: left;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 70%;
  text-align: center;
}

.u-no-shadow {
  box-shadow: none;
}
.u-no-shadow:hover {
  box-shadow: none;
}

/* min Jquery CSS elements for autocomplete */
.ui-autocomplete {
  position: absolute;
  cursor: default;
}

.ui-menu {
  list-style: none;
  padding: 20px;
  display: block;
  float: left;
  background-color: white;
  box-sizing: border-box;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  font-family: arial;
  color: grey;
  font-size: 18px;
  padding: 5px 0;
  box-sizing: border-box;
}
.ui-menu .ui-menu-item:hover {
  color: black;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .1em .3em;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
